#box1 {
    background: url('./login.jpeg');
    width: 400px;
    height: 400px;
}

#box2 {
    background: url('./logo1.png');
    width: 400px;
    height: 400px;
}

body {
    font-family: "webfont" !important;
    /* background: red; */
    /* color: #fff; */
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('./webfont.woff2') format('woff2')
}