body {
    font-family: "webfont" !important;
    /* background: red; */
    /* color: #fff; */
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('./webfont.woff2') format('woff2')
}